<a href="/restaurants/new">Add a Restaurant</a>&emsp;
<a href="/restaurants">See All Restaurants</a>&emsp;
<a href="/users/new">Add a User</a>&emsp;
<a href="/users">See All Users</a>
<br><br>
<h2>Name: <%=@restaurant.name%> </h2>
<p>Rating: <%=@restaurant.rating%></p>
<p>Address: <%=@restaurant.address%></p>

<p>People who want to try:</p>
<ul> <% @restaurant.users.each do |user| %>
<li> <a href="/users/<%= user.id %>"> <%= user.name %> </a></li>
<% end %> </ul>

<p>Add to list of restaurants to try:</p>
<ul><form action='/restaurants/<%= @restaurant.id %>/users' method='post'>
  <input type='hidden' name='_method' id='hidden' value='patch'>
  <select name='user_id'>
  <% @all_users.each do |user| %>
    <option value='<%=user.id%>'><%=user.name%></option>
    <% end %>
</select></ul>
<input type='submit' value='submit'></form>
